=.photos{
width: 300px;
border-radius: 50px;

}

.angel{
width: 300px;
border-radius: 50px;

}

.carla{
width: 300px;
border-radius: 50px;
margin-right: 100px;
margin-left: 100px;
}

.nina{
width: 300px;
border-radius: 50px;
}

#photos{
text-align: center;
}

a {
color: white;
text-decoration: none;
font-size: 30px;
}

c {
color: white;
text-decoration: none;
font-size: 30px;
margin-right: 200px;
margin-left: 200px;
}

n {
color: white;
text-decoration: none;
font-size: 30px;
}

#btn{
text-align: center;
}

body {
background-color: Maroon;
}









